# ignore cadence files
INCA_libs/
LVS/
.simvision/
*.diag
*.shm/
*.cdslck*
vhdlin.summary
import_vhdl_log
.cadence/
.pcdb/
.oalib

# ignore make and editor files
*.log
*.swp
*.key
*~

# ignore report images and docs
*.ps
*.pdf
